body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #eaeaea;
}


.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


header, footer {
  text-align: center;
  padding: 10px;
  background-color: #2b6777;
  color: white;
  border-radius: 10px;
}


main {
  text-align: center;
  padding: 20px;
}


.foto {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
  transition: transform 0.3s;
}

.foto:hover {
  transform: scale(1.1);
}


button {
  padding: 10px 20px;
  background-color: #52ab98;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #367e7e;
}
